*{
  box-sizing: inherit;
  margin: 0rem;
  padding: 0rem;
}

#app{
  padding: 2rem;
  color: black;
  height:  100vh;
  width: 100%;
  background-color: rgb(35, 221, 66);
}

#playButton{
  color: black;
  padding: .5rem;
  margin: .5rem;
  border-radius: 2rem;
}

#hitButton{
  color: black;
  padding: .5rem;
  margin: .5rem;
  border-radius: 2rem;
}

#standButton{
  color: black;
  padding: .5rem;
  margin: .5rem;
  border-radius: 2rem;
}

#doubleButton{
  color: black;
  padding: .5rem;
  margin: .5rem;
  border-radius: 2rem;
}